body {
  background-color: #28292c;
}

#wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.pokeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 150px;
  height: 250px;
  border-radius: 15px;
  margin: 5px;
  color: aliceblue;
}

.pokeContainer p {
  margin: 0;
  margin-top: -15px;
  font-size: 2vw;
  font-family: 'Press Start 2P', sans-serif;
}

.pokeContainer:hover {
  transform: scale(1.07);
}

.pikachu {
  background-color: #c4a369;
}

.mew {
  background-color: rgb(58, 82, 177);
}

.mewtwo {
  background-color: rgb(58, 58, 177);
}

.bulbasaur {
  background-color: #67a890;
}

.squirtle {
  background-color: #71b7c7;
}

.venusaur {
  background-color: #48917f;
}

.charizard {
  background-color: #f8a060;
}

.ivysaur {
  background-color: #488899;
}

.pokeFoto {
  width: 120px;
  height: 120px;
}

.btn {
  background: #7c7c7c;
  border-bottom: 3px inset rgba(0, 0, 0, 0.5);
  border-left: 3px inset rgba(0, 0, 0, 0.5);
  border-right: 3px inset rgba(255, 255, 255, 0.5);
  border-top: 3px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9vw;
  margin: 10px;
  min-width: 90px;
  padding: 0.1rem;
  width: auto;
  font-family: 'Press Start 2P', sans-serif;
}

.btn.primary {
  background: #005800;
  margin-bottom: -5px;
}

.btn.secondary {
  background: #0000bc;
}
