body {
  background-color: #28292c;
}

#wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.pokeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 150px;
  height: 250px;
  border-radius: 15px;
  margin: 5px;
  color: aliceblue;
}

.pokeContainer p {
  margin: 0;
  margin-top: -15px;
  font-size: 2vw;
  font-family: 'Press Start 2P', sans-serif;
}

.pokeContainer:hover {
  transform: scale(1.07);
}

.pikachu {
  background-color: #ffcb71;
}

.mew {
  background-color: rgb(229, 189, 255);
}

.mewtwo {
  background-color: rgb(179, 179, 255);
}

.lugia {
  background-color: #5c38ff;
}

.gengar {
  background-color: #71b7c7;
}

.ninetales {
  background-color: #ff4b81;
}

.charizard {
  background-color: #f8a060;
}

.cresselia {
  background-color: #c976f8;
}

.pokeFoto {
  width: 120px;
  height: 120px;
}

.btn {
  background: #7c7c7c;
  border-bottom: 3px inset rgba(0, 0, 0, 0.5);
  border-left: 3px inset rgba(0, 0, 0, 0.5);
  border-right: 3px inset rgba(255, 255, 255, 0.5);
  border-top: 3px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9vw;
  margin: 10px;
  min-width: 90px;
  padding: 0.1rem;
  width: auto;
  font-family: 'Press Start 2P', sans-serif;
}

.btn.primary {
  background: #005800;
  margin-bottom: -5px;
}

.btn.secondary {
  background: #0000bc;
}

#comment-window {
  display: none;
}
