body {
  background-color: #28292c;
}

#wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

/* TODO: make changes by moving the buttons down, bigger/other fonts */
.pokeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 150px;
  height: 300px;

  /* border-bottom: 10px inset rgba(0, 0, 0, 0.5);
  border-left: 10px inset rgba(0, 0, 0, 0.5);
  border-right: 10px inset rgba(255, 255, 255, 0.5);
  border-top: 10px inset rgba(255, 255, 255, 0.5); */
  border-radius: 15px;
  margin: 5px;
  color: aliceblue;
}

.pokeContainer p {
  margin: 5px;
  margin-top: -15px;
  font-size: 15px;
  font-family: 'Press Start 2P', sans-serif;
}

footer span {
  background-color: inherit;
  margin: 0;
  padding-left: 40px;
  font-size: 12px;
  line-height: 20px;
}

.pokeContainer span {
  color: rgb(255, 241, 240);
  font-family: 'Press Start 2P', sans-serif;
  font-size: 10px;
  margin: 0;
}

.pokeContainer div {
  height: 10px;
  margin: 0;
  margin-bottom: -8px;
}

.pokeContainer:hover {
  transform: scale(1.05);
}

.pikachu {
  background-color: #c4a369;
}

.gengar {
  background-color: rgb(58, 82, 177);
}

.mewtwo {
  background-color: rgb(58, 58, 177);
}

.bulbasaur {
  background-color: #67a890;
}

.squirtle {
  background-color: #71b7c7;
}

.venusaur {
  background-color: #48917f;
}

.charizard {
  background-color: #f8a060;
}

.ivysaur {
  background-color: #488899;
}

.pokeFoto {
  width: 120px;
  height: 120px;
}

.btn {
  background: #7c7c7c;
  border-bottom: 3px inset rgba(0, 0, 0, 0.5);
  border-left: 3px inset rgba(0, 0, 0, 0.5);
  border-right: 3px inset rgba(255, 255, 255, 0.5);
  border-top: 3px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 6px;
  margin: 10px;
  min-width: 90px;
  padding: 0.1rem;
  width: auto;
  font-family: 'Press Start 2P', sans-serif;
}

.btn.primary {
  background: #005800;
  margin-bottom: -5px;
}

.btn.primary:hover {
  background: #098509;
}

.btn.secondary {
  background: #0000bc;
}

.btn.secondary:hover {
  background: #3d3dac;
}

#comment-window {
  display: none;
}

header {
  height: 250px;
  background-image: url(banner.jpg);
  background-repeat: no-repeat;
  background-size: 400px;
  background-color: #a2e8ff;
  background-position: 80% 50%;
  border-bottom: 10px inset rgba(0, 0, 0, 0.5);
  border-left: 10px inset rgba(0, 0, 0, 0.5);
  border-right: 10px inset rgba(255, 255, 255, 0.5);
  border-top: 10px inset rgba(255, 255, 255, 0.5);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-family: 'Press Start 2P', sans-serif;
  padding-left: 5%;
}

nav {
  padding-top: 10px;
}

a {
  color: #28292c;
  line-height: 25px;
}

li {
  margin-right: 20px;
}

h1 {
  font-family: 'Press Start 2P', sans-serif;
  margin-left: 7%;
  margin-top: 2%;
  line-height: 5vw;
  font-size: 3.9vw;
}

#logoContainer {
  border: solid 2px red;
  width: 50px;
  height: 50px;
}

footer {
  background-color: #46646c;
  color: aliceblue;
  height: 70px;
  margin-top: 50px;
  font-family: 'Press Start 2P', sans-serif;
  padding-top: 5%;
  border-bottom: 10px inset rgba(0, 0, 0, 0.5);
  border-left: 10px inset rgba(0, 0, 0, 0.5);
  border-right: 10px inset rgba(255, 255, 255, 0.5);
  border-top: 10px inset rgba(255, 255, 255, 0.5);
  display: flex;
  text-align: center;
}
